<div class="container">
    <h1 class="display-4">Nos biens immobiliers</h1>
    <div class="row mt-5">
        <div *ngFor="let propriete of properties; let i = index" class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <div *ngFor="let photo of propriete.photos; let first = first" >
                    <img [src]="photo" *ngIf="first" class="card-img-top" >
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{propriete.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{propriete.category}}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>

                    <p [ngStyle]="{color: getSoldValue(i)}">
                        <span *ngIf='propriete.sold'>A vendre</span>
                        <span *ngIf='!propriete.sold'>Vendu !</span>
                    </p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

    </div>
</div>